body{
    background-color: #A75D5D;
    font-family: Arial, Helvetica, sans-serif;
    color:  #A75D5D;
}
header{
    background-color: #D3756B;
}
main{
    background-color: #F0997D;
}
footer{
    background-color: #FFC3A1;
}
a{
    align-items: center;
    
    color:  #FFC3A1;

}
a:hover{
    color: #FFC3A1;
}
a + a{
    margin-left: 10px;
}
figure{
    margin-top: 25px; 
    padding-top: 25px;
}
img{
    width: 250px;
    height: 250px;
}
